body {
    background: #ffffff;
    padding: 50px 20%;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b {
    color: plum;
}

h1 {
    text-transform: uppercase;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: LightSlateGray solid thin;
}

hr {
    border: LightSlateGray dotted thin;
    width: 50%;
}

p {
    color: DarkSlateGray;
    text-align: justify;
    font-style: normal;
}
#number1-achievement {
    color: red;
}
.rutherford > p {
    font-style: italic;
}