body {
    background: #ffffff;
    /* margin-left: 10em;
    margin-right: 10em; */
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, h4, h5, h6, strong, b {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: LightSlateGray solid thin;
}

hr {
    border: LightSlateGray dotted thin;
    width: 50%;
}

p {
    color: DarkSlateGray;
    font-family: "georgia", serif;
}